    .modal-content {
      color: white;
    }

    .modal-action {
      color: white;
    }

    .dealer {
      border-radius: 15px;
      height: 290px;
      margin: auto;
      text-align: center;
    }

    .dealer-text {
      font-family: arial;
      font-size: 1.6rem;
      margin-top: 75%;
      text-align: center;
    }

    .button-div {
      margin-bottom: 3.2vh;
    }

    .player-one {
      border-radius: 15px;
      height: 290px;
      margin: auto;
      text-align: center;
    }

    .player-name {
      font-family: arial;
      font-size: 1.6rem;
      margin-top: 65%;
    }

    .card-back {
      border-radius: 10px;
      height: 15%;
      margin: 0px 5px;
      width: 15%;
    }

    .card-front {
      border-radius: 10px;
      margin: 0px 5px;
      width: 15%;
    }

    .card-fronts.split-cards {
      border-radius: 10px;
      margin: 0px 15px;
      width: 15%;
    }

    .footer {
      display: inline-flex;
      width: 100%;
    }

    .footer p {
      margin: 0px 15px;
    }
