
    .dealer {
      border-radius: 15px;
      height: 300px;
      margin: auto;
      text-align: center;
    }

    .dealer-text {
      font-family: arial;
      font-size: 1.6rem;
      margin-top: 75%;
      text-align: center;
    }

    .button-div {
      margin-bottom: 3vh;
    }

    .player-one {
      border-radius: 15px;
      height: 300px;
      margin: auto;
      text-align: center;
    }

    .player-name {
      font-family: arial;
      font-size: 1.6rem;
      margin-top: 65%;
    }

    /*.card-spot {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
    }*/

    .card-back {
      border-radius: 10px;
      height: 15%;
      margin: 0px 5px;
      width: 15%;
    }

    .card-front {
      border-radius: 10px;
      height: 15%;
      margin: 0px 5px;
      width: 15%;
    }
